.caseBox{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

.flexBox{
    display: flex;
    justify-content: center;
}

.flexBox2{
    display: flex;
}

.items{
    flex-grow: 1;
}


.dataBox{
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
}

.caseload{
    color: #000000;
}