.Barcolor{
    background-color: #ffc719;
}

.title{
    display: flex;
    flex-direction: row;
  }

.profile{
    align-items: flex-end;
}

.flexBox{
    display: flex;
    justify-content: center;
}

.flexBox2{
    display: flex;
}

.flexBox3{
    display: flex;
    flex-direction: column;
}